* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    font-family: Prompt;

}


:root {
    --main-teal: #0A6187;
    --main-aqua: #78CDD7;
    --main-white: #FFFFFF;

}

body {
    background-color: var(--main-teal);
}

nav a{
    align-items: flex-start;
}

section {
    display: block;
    height: 100vh;
}

.nav-left {
    position: absolute;
    color: var(--main-white);
    font-size: 45px;
    font-weight: 500;
    left: 6%;
    top: 2%;
}

.nav-right {
    position: absolute;
    color: var(--main-white);
    font-size: 30px;
    font-weight: 600;
    top: 4%;
    left: 52%;
    display: flex;
    flex-direction: row;
    gap: 111px;
}

.welcome-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    font-weight: 700;
    color: var(--main-white)

}

.welcome-box {
    width: 600px;
    height: 200px;
    background-color: var(--main-aqua);
    border-radius: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
}




footer {
    position: absolute;
    bottom: 5%;
    left: 7%;
    display: flex;
    gap: 67px;
    font-size: 24px;
}

nav a, footer a {
    color: var(--main-white);
}

nav {
    align-items: center;
}

a {
    text-decoration: none;
  }

.about-heading {
    left: 7%;
    top: 900px;
    position: absolute;
    font-size: 45px;
    font-weight: 500;
    color: var(--main-white)
}

p.indent {
    text-indent: 30px;
}

.about-box {
    width: 600px;
    height: 400px;
    background-color: var(--main-aqua);
    border-radius: 1cm;
    display: flex;
    justify-content: center;
    position: relative;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    font-size: 25px;
    color: var(--main-white);
    flex-direction: column;
    gap: 35px;
 
}

.experience-heading {
    left: 7%;
    top: 1600px;
    position: absolute;
    font-size: 45px;
    font-weight: 500;
    color: var(--main-white)
}

.experience-box {
    width: 700px;
    height: 500px;
    background-color: var(--main-aqua);
    border-radius: 1cm;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2050px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    font-size: 32px;
    color: var(--main-white);
    flex-direction: column;
    gap: 80px;
}

.experience {
    margin-bottom: 25px;
}
.experience-bullets {
    margin-left: 20px;
}




